* {
    box-sizing: border-box;
  }
body {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.center {
    min-height: 35vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}
.a
{
    width: 300px;
    height: 50px;
    list-style: none;
    line-height: 50px;
    position:absolute;
    margin: 5px;
    border:  1px solid red;
    border-radius: 10%;
    text-align: center;
}
h1
{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight:100;
    animation: glitch 3s ease-in-out infinite;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.h1::before
{
color:aqua;
animation: glitch 3s ease-in-out infinite;
}
.h1::after
{
    animation: glitch 3s ease-in-out infinite;
    color:brown;
}
@keyframes glitch
{
0%{
    left:-10px;
    top:-10px;
    color:rgb(250, 201, 201);
}
25%{
left:-50px;
top:50px;
color:rgb(252, 99, 99);
}
50%{
left:-1px;
top:2px;
color:rgb(248, 50, 50);
}
75%{
left:1px;
top:-1px;
color:rgb(250, 174, 174);
}
100%{
left:-0px;
top:-2px;
color:rgb(255, 255, 255);
}
}

.column {
    float: left;
    width: 25%;
    padding: 0 40px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card{
    box-shadow: 0 15px 60px rgba(241, 9, 9, 0.5); 
    padding: 16px;
    text-align: center;
    background-color: rgba(143, 3, 3, 0.952);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color:aliceblue
  }
  .card:hover
  {
    background-color: rgba(226, 13, 13, 0.952);
  }
  
  @media screen and (max-width: 700px) {
      h1{
        font-size: 40px;
        font-weight:100;
        letter-spacing: 5px;
      }
    .column {
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }
  }
