body {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
    
    .center {
        min-height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ring {
        border-radius: 50%;
        width: 320px;
        height: 320px;
        position: absolute;
        animation: ring 2s linear infinite;
    }
    
    @keyframes ring {
        0% {
            transform: rotate(0deg);
            box-shadow: 1px 5px 2px rgb(250, 4, 4);
        }
        50% {
            transform: rotate(180deg);
            box-shadow: 1px 5px 2px rgb(252, 84, 84);
        }
        100% {
            transform: rotate(360deg);
            box-shadow: 1px 5px 2px rgba(248, 141, 141, 0.788);
        }
    }
    
    .ring::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0);
    }
    
    span {
        color: white;
        font-size: 15px;
        animation: text 2s ease-in-out infinite;
    }
    
    @keyframes text {
        50% {
            color: black;
        }
    }
