<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/static/CSS/account.css'>
</head>
<body>
        <div class="background">
        </div>
        <form>
            <h3 >Enter your Username</h3>
            <input id="inputuser" type="text" placeholder="Email or Phone">
            <a  onclick="clickFunction()" class="button">Next</a>
        </form>
</body>
<script src="/static/Gamejavascript/Click.js"></script>
</html>