<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/static/CSS/account.css'>
    <link rel="icon" href="/static/icon/Memory.png">
</head>
<body>
        <div class="background">
        </div>
        <form>
            <h3 >Enter your Username</h3>
            <input id="inputuser" type="text" placeholder="Email or Phone">
          <a onClick="click1();" onclick="clickFunction();" class="button">Next</a>
        </form>
</body>
<script src="/static/Click.js"></script>
<script>
function click1(){
const Datastore = require('nedb');
var input = document.getElementById('inputuser').value;
const database=new Datastore("database.db");
database.loadDatabase();
database.insert({Name:input});
};
</script>
</html>