<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/static/CSS/choose.css'>
</head>
<body>
  <div class="center"><h1>Select number of blocks </h1> </div>
  <div class="row">
    <div class="column">
      <a href="game10blocks.html" class="card"> 10</a>
    </div>
    <div class="column">
      <a href="game14blocks.html" class="card"> 14</a>
    </div>
    <div class="column">
      <a href="game18blocks.html" class="card"> 18</a>
    </div>
    <div class="column">
      <a href="game20blocks.html" class="card"> 20</a>
    </div>
  </div>
</body>
</html>