<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/static/CSS/main.css'>
    <link rel="icon" href="/static/icon/Memory.png">
</head>
<body>
<div>
    <div class = "center1" >
        <h1>Memory Game </h1>
        <br></br>
        <h4 >It requires observation, concentration and a good memory to win. </h4>
        <div class="center">
    <a href="account.html" class="a--start "><span>Start</span></a>
    <a class= "a--leaderboard"><span>Leaderboard</span> </a>
    <footer>
        <p> All right reserved.Jakub Kiełb 2022 ©</p>
    </footer>
</body>
</html>